{% extends 'base.html' %}
{% block body %}
<div class="wrapper">
	<div class="header">
		<div id="nav">
			<button class="prev"></button>
			<button class="next"></button>
		</div>
		<div id="album">
		</div>
	</div>
	<div id="frame">
		<img class="photo" />
		<div class="title"></div>
		<div class="data"></div>
	</div>
	<div class="gallery">
		<div id="slider" class="slider">
			<ul id="thumbnails">
			</ul>
			<span class="prev"></span>
			<span class="next"></span>
		</div>
	</div>
</div>
{% endblock %}